@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cenferance</h1>
    <button><a href="@Url.Action("Create","Home")">create new speaker</a></button>
    <button><a href="@Url.Action("List","Home")">see the list of Speaker</a></button>
</div>
